rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isAuth() {
      return request.auth != null;
    }

    function isOwner(uid) {
      return request.auth.uid == uid;
    }

    function isAdmin() {
      return request.auth.token.email == "jdiego484@gmail.com";
    }

    // USERS PUBLIC
    match /users_public/{uid} {
      allow read: if isAuth();
      allow write: if isOwner(uid);
    }

    // USERS PRIVATE
    match /users_private/{uid} {
      allow read: if isOwner(uid) || isAdmin();
      allow write: if isOwner(uid);
    }

    // CONNECTIONS
    match /connections/{id} {
      allow read, write: if isAuth();
    }

    // WORKOUTS
    match /workouts/{workoutId} {

      allow create: if isAuth() &&
        request.resource.data.personalId == request.auth.uid;

      allow read: if isAuth() && (
        resource.data.studentId == request.auth.uid ||
        resource.data.personalId == request.auth.uid
      );

      allow update, delete: if isAuth() &&
        resource.data.personalId == request.auth.uid;

      // 🔥 SUBCOLLECTION
      match /exercises/{exerciseId} {

        allow create: if isAuth();

        allow read: if isAuth() && (
          get(/databases/$(database)/documents/workouts/$(workoutId)).data.studentId == request.auth.uid ||
          get(/databases/$(database)/documents/workouts/$(workoutId)).data.personalId == request.auth.uid
        );

        allow update, delete: if isAuth() &&
          get(/databases/$(database)/documents/workouts/$(workoutId)).data.personalId == request.auth.uid;
      }
    }

    match /assessments/{id} {
      allow read, write: if isAuth();
    }

    match /chats/{id} {
      allow read, write: if isAuth();
    }

    match /invitations/{id} {
      allow read, write: if isAuth();
    }
  }
}
